@using ActivityPaint.Client.Components.Documentation.Shared.CommandsTable
@using ActivityPaint.Client.Components.Shared.Components.Code
<MudText Typo="Typo.h6" Class="my-2">Overview</MudText>
<CodeComponent>
    <span style="color: var(--mud-palette-gray-default)">@Command.Prefix</span>
    <b style="color: var(--mud-palette-info)">@Command.Command</b>
</CodeComponent>
@if (Aliases.Any())
{
    <MudText Typo="Typo.body1" Class="mt-1 mb-2">
        Aliases:
        @{
            var index = 0;
            var count = Aliases.Count();
            foreach (var alias in Aliases)
            {
                <CodeComponent>@(alias)</CodeComponent>
                if (index < count - 1)
                {
                    <text>,</text>
                }
                index++;
            }
        }
    </MudText>
}
@if (Parent is not null)
{
    <MudText Typo="Typo.body1" Class="mt-1 mb-2">
        Parent:
        <CodeComponent>
            @if (string.IsNullOrEmpty(Parent.DocsUrl))
            {
                @Parent.Name
            }
            else
            {
                <a href="@(Parent.DocsUrl)" title="@(Parent.Description)">@(Parent.Name)</a>
            }
        </CodeComponent>
    </MudText>
}
<MudText Typo="Typo.body1">
    @ChildContent
</MudText>

@code {
    [Parameter, EditorRequired]
    public DocumentationOverviewCommandModel Command { get; set; } = new("ap-cli.exe", "");

    [Parameter]
    public DocumentationCommandsTableModel? Parent { get; set; }

    [Parameter]
    public IEnumerable<string> Aliases { get; set; } = [];

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
